{% extends 'base.html' %}

{% block content %}
    <h1>Lista de Edificaciones</h1>
    <table class="table table-striped" id="tiendas">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for edificacion in edificaciones %}
                <tr>
                    <td>{{ edificacion.nombre }}</td>
                    <td>{{ edificacion.direccion }}</td>
                    <td>{{ edificacion.descripcion }}</td>
                    <td>
                        <a href="{% url 'detalles_edificacion' edificacion.id %}" class="btn btn-success" class="fas fa-check"> Detalles</a> |
                        <a href="{% url 'editar_edificacion' edificacion.id %}" class="btn btn-warning" class="fas fa-edit"> Editar</a> |
                        <a href="{% url 'eliminar_edificacion' edificacion.id %}" class="btn btn-danger"class="fas fa-band-aid"> Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No hay edificaciones registradas.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'agregar_edificacion' %}" class="btn btn-primary">Agregar Nueva Edificación</a>

    <!-- DataTables CSS y JS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.7/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.7/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.7/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.7/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

    <script>
        $(document).ready(function() {
            $('#tiendas').DataTable({
                dom: 'Bfrtip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json'
                }
            });
        });
    </script>
{% endblock %}
